<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Просмотр загруженных изображений</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="container">
        <h1>Просмотр загруженных изображений</h1>
        
        <main>
            <form id="processingForm" action="/process/" method="post">
                <div class="form-group">
                    <label>Валидный процент туловища %0-100</label>
                    <input type="range" id="body_percentage" name="body_percentage" min="0" max="100" required>
                </div>
                <div class="form-group">
                    <label>Сколько конечностей должно быть 1-4</label>
                    <input type="range" id="limb_points" name="limb_points" min="1" max="4" required>
                </div>
                <div class="form-group">
                    <label>Пороговое значение %0-100</label>
                    <input type="range" id="threshold" name="threshold" min="0" max="100" required>
                </div>
                <div class="form-group">
                    <label>Высота bounding box</label>
                    <input type="text" id="bbox_height" name="bbox_height" value="100px">
                </div>
                <div class="form-group">
                    <label>Ширина bounding box</label>
                    <input type="text" id="bbox_width" name="bbox_width" value="250px">
                </div>
                <button type="submit" style="background-color: #90ee90;">Начать обработку</button>
                <button type="button" onclick="loadMoreImages()">Дозагрузить изображения</button>
            </form>
        </main>
    </div>

    <script>
        function loadMoreImages() {
            alert("Загрузка дополнительных изображений");
        }
    </script>
</body>
</html>
